POLift.Core/Connected Services/POLiftCloudService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POLiftWcfWebRole.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POLiftWcfWebRole.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLiftingProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiftingProgram" nillable="true" type="tns:LiftingProgram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiftingProgram" nillable="true" type="tns:ArrayOfLiftingProgram" />
  <xs:complexType name="LiftingProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiftingProgram" nillable="true" type="tns:LiftingProgram" />
</xs:schema>