POLift.Core/Connected Services/POLiftCloudService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://poliftcloudservice.cloudapp.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://poliftcloudservice.cloudapp.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://poliftcloudservice.cloudapp.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POLiftWcfWebRole.Models" />
      <xsd:import schemaLocation="http://poliftcloudservice.cloudapp.net/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllLiftingPrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLiftingPrograms" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllLiftingPrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLiftingProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TimeLeftInTrial_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeLeftInTrial" />
  </wsdl:message>
  <wsdl:message name="IService_TimeLeftInTrial_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeLeftInTrialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DownloadLiftingProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLiftingProgram" />
  </wsdl:message>
  <wsdl:message name="IService_DownloadLiftingProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadLiftingProgramResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllLiftingPrograms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllLiftingPrograms" message="tns:IService_GetAllLiftingPrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllLiftingProgramsResponse" message="tns:IService_GetAllLiftingPrograms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeLeftInTrial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TimeLeftInTrial" message="tns:IService_TimeLeftInTrial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TimeLeftInTrialResponse" message="tns:IService_TimeLeftInTrial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLiftingProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DownloadLiftingProgram" message="tns:IService_DownloadLiftingProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DownloadLiftingProgramResponse" message="tns:IService_DownloadLiftingProgram_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLiftingPrograms">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllLiftingPrograms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeLeftInTrial">
      <soap:operation soapAction="http://tempuri.org/IService/TimeLeftInTrial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLiftingProgram">
      <soap:operation soapAction="http://tempuri.org/IService/DownloadLiftingProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://poliftcloudservice.cloudapp.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>